@model IEnumerable<Domain.Entity.Resource>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{ 
    <table>
        <tr>
            <td>
                @Html.Partial("_partial", item)
            </td>
            
        </tr>
    </table>
    
}
